<ion-header>
  <ion-toolbar>
    <ion-title>
      PushManga
    </ion-title>
  </ion-toolbar>
  <!-- Segment in a toolbar -->
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" [value]="selectedPage" color="dark">
      <ion-segment-button value="latest" [checked]="selectedPage == 'latest'">
        <ion-label>Latest</ion-label>
      </ion-segment-button>
      <ion-segment-button value="all" [checked]="selectedPage == 'all'">
        <ion-label>All Manga</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

    <div *ngIf="selectedPage == 'latest'">
      <ion-list>
        <ion-item *ngFor="let ch of latest" (click)="openChapter(ch.url)">
          <ion-badge slot="end" [color]="ch.releaseDate == 'Today' ? 'dark' : 'transparent'">{{ ch.releaseDate }}</ion-badge>
          <ion-thumbnail slot="start">
            <img src="{{ ch.thumbnail }}">
          </ion-thumbnail>
          <ion-label>
            <h2>{{ ch.mangaTitle }} <strong>{{ ch.chapterNumber }}</strong></h2>
            <ion-note>{{ ch.chapterTitle }}</ion-note>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

    <div *ngIf="selectedPage == 'all'">
      <!-- manga list -->
      <div *ngIf="selectedManga === ''; else chapterList">
        <ion-list>
          <ion-item *ngFor="let mg of mangas" (click)="selectManga(mg.url)">
            <ion-label>
              <h2><strong>{{ mg.mangaTitle }}</strong></h2>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>

      <!-- chapter list -->
      <ng-template #chapterList>
        <ion-button expand="block" color="light" shape="round" (click)="selectedManga = ''; chapters = []">Back</ion-button>
        <ion-list>
          <ion-list-header>
            <ion-label>
              {{ selectedManga | titlecase }}
            </ion-label>
          </ion-list-header>
          <ion-item *ngFor="let ch of chapters" (click)="openChapter(ch.url)">
            <ion-thumbnail slot="start">
              <img src="{{ ch.thumbnail }}">
            </ion-thumbnail>
            <ion-label>
              <h2>{{ ch.chapterTitle }}</h2>
              <ion-note>{{ ch.releaseDate }}</ion-note>
            </ion-label>
          </ion-item>
        </ion-list>
      </ng-template>
    </div>

  </div>
</ion-content>